
body{
  background-color: lightGrey;
  margin: 0;
}
footer{
  height: 5vh;
  margin-bottom: 0;
  background-color: white;
  position: relative;
  float: bottom;
  text-align:center;
}
hr{
  background-color: lightGrey;
}
.main_header {
  list-style-type: none;
  min-height: 9vh;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}
img{
  width: 20vw;
  height: auto;
}
.contenu h1{
  text-align: center;
}
.btn{
  color: #828282;
  background-color: #eee;
}
a:hover{
  text-decoration: none;
}
.main_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*height: 9vh;*/
  width: 100%;
  background-color: #eee;
  display: flex;
  -webkit-box-shadow: 0 1px 3px rgba(34,25,25,.4);
}

.main_nav li {
  border-right: 1px solid white;
}

.main_nav li a {
  color: #828282;
  text-align: center;
  padding: 14px 16px;
  font-size: x-large;
}

.main_nav li a:hover {
  background-color: black;
  color: darkGrey;
}
.main_nav li a:hover:not(.home){
  background-color: #dddddd;
  color: white;
  text-decoration: none;
}
.main_nav .active {
  background-color: grey;
  color: #eee;
}
.main_nav .home {
  background-color: #a01600;
  color: white;
}
.main_nav .nav-item{
  background-color: #eee;
}
.main_nav .nav-link{
  /* centre le logo home sur axe vertical et impose que le bloc en rouge prenne toute la pace disponible */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:   center;

}
.contenu {
  padding: 10px;
  border-radius: 10px;
  margin: 2vh 5vw 2vh 5vw;
  background-color: white;
  min-height: 80vh;
  position: relative;
  text-align:center;
}
.contenu_connected {
  padding: 10px;
  border-radius: 10px;
  margin: 2vh 5vw 2vh 5vw;
  background-color: white;
  min-height: 72vh;
  position: relative;
  text-align:center;
}
.center{
  display: flex;
  justify-content: center;
}
.apres_gly{
  margin-left: 5px;
}

.notif{
    width: 250px;
    height: 350px;
    margin: 10px 15px 10px 15px ;
    display: inline-block;
    background-color:white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-align: left;
  left:10px;
  
}
.notif .image{
    width: 250px;
    height: 350px;
  margin:auto;
  
}
.notif .image img{
  width: 250px;
    height: 350px;
}
.notif .nom{
  background:#5b5274;
    bottom: 0;
  left: 0;
    box-sizing: border-box;
    min-height: 24px;
    padding: 2px;
  color: white;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    width: 100%;
  display: block;
  text-align: center;
  margin:auto;
  border-radius:0;
 
}
 /*quand ecran inférieur a 500px de large*/
@media (max-width: 715px){
.notif{
    width: 175px;
    height: 250px;
    margin: 10px 15px 10px 15px ;
    display: inline-block;
    background-color:white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    text-align: left;
  left:10px;
  
}
.notif .image{
    height: 250px;
    width: 175px;
  margin:auto;
  
}
.notif .image img{
  width: 175px;
  height: 250px;
}

}

#non_visible{
  display: none;
  font-style: italic;
}
.fa-question-circle{
  color:blue;
}
.fa-question-circle:hover{
  color:red;
  cursor: pointer;
}
.lien_election{
  color: #B6B5E5;
  font-size: x-large;
}
.lien_election a{
  color: #B6B5E5;
}
.lien_election a:hover{
  color:#ff66ff;
}
.img_accueil img{
  border-radius: 10px;
  min-width: 35vw;
  margin-bottom:1rem;
}
.accueil{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.text_accueil{
  text-align: justify;
  margin-right: 20px;
  max-width: 50%;
}
.text_accueil2{
  text-align: justify;

}


.carousel-indicators li{
  background-color:#a01600;
  height: 5px;
}
.carousel-indicators li:not(.active){
  background-color:black;
}
.carousel-item img{
  width:25vw;
}
#demo{
  width:25vw;
}
@media (max-width: 850px){
  .text_accueil{
  text-align: justify;
  margin-right: 10px;
  max-width: none;
}
}
@media (max-width: 720px){
  .text_accueil{
  text-align: justify;
  margin-right: 10px;
  max-width: none;
}
.carousel-item img{
  width:65vw;
}
#demo{
  width:65vw;
}
.img_accueil img{
  border-radius: 10px;
  min-width: 45vw;
  margin-bottom:1rem;
}
}


@media (max-width: 950px){
.carousel-item img{
  width:50vw;
}
#demo{
  width:50vw;
}
.img_accueil img{
  border-radius: 10px;
  min-width: 35vw;
  margin-bottom:1rem;
}
}


.fa-fire{
  color:#a01600;
  font-size: large;
  margin-top: 1px;
}

.input-group{
  max-width: 40vw;

}
.carousel-control-next,.carousel-control-prev {
    background-color: black;
    opacity: 0.3;
}
.carousel-control-next:hover,.carousel-control-prev:hover {
    background-color: black;
    opacity: 0.6;
}
.fa-chevron-right, .fa-chevron-left{
color: #a01600;
font-size: xx-large;
opacity: 1;
}
.menu{
  width: 30vw;
  vertical-align: center;

}
.menu:hover{
  cursor: pointer;
}
.contener_centre{
  min-height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
a.btn.disabled{
  pointer-events: initial;
}
.btn-primary:disabled,.btn-primary.disabled{
  color: white;
    background-color: darkgrey;
    cursor: not-allowed;
}